{{>navbar}}

<div class="page">
    <h1 class="h1-title">Crud de equipos</h1>
    {{#if messages}}
        <div class="alert alert-success d-flex align-items-center" role="alert">
         <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                {{messages}}
            </div>
        </div>
    {{/if}}
    <div class="container-principal">
        <h3>Hay {{equipos.length}} equipos!</h3>
        <button id="agregar-equipos" class="button"><a href="/crudClubes/agregar">Agregar equipo</a></button>
    </div>
    
    <div class="header-grid">
        <ul>
             <li><b>Nombre Equipo</b></li>
        </ul>
        <ul>
            <li><b>País</b></li>
        </ul>
        <ul>
            <li><b>Acción</b></li>
         </ul>
    </div>
    
    <div class="container-grid">
        {{#each equipos}}
        <div class="grid">
            <ul class="lista-nombre-equipo">
                <li><img class="logo-equipo" src="{{crestUrl}}" alt="logoEquipo"></li>
            
               <li>{{name}}</li>
           
            </ul>
            
            <ul class="lista-paises">
                <li>{{area.name}}</li>
            </ul>
            <ul class="lista-botones">
                <li><button class="button"><a href="/crudClubes/ver/{{id}}">Ver</a></button></li>
                
                <li><button class="button"><a href="/crudClubes/editar/{{id}}"  onclick="return confirmAction(`editar`)">Editar</a></button></li>
                
                <li><button class="button"><a href="/crudClubes/eliminar/{{id}}" onclick="return confirmAction(`eliminar`)">Eliminar</a></button></li>
            </ul>
        </div>
        {{/each}}
      
    </div>
</div>
<script type="text/javascript">
    function confirmAction(action){
        let respuesta = confirm(`Desea ${action} este equipo?`);
        if(respuesta){
            return  true;
            
        }else{
            return false;
        }
        
    };
</script>