{{>navbar}}
{{#with equipo}}
<div class="page">
    <img src="{{crestUrl}}" alt="logoEquipo" class="rounded img-fluid" id="logo-equipo">
    <h2>{{name}}</h2>
    <div class="container-table">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nombre Corto</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Ubicación</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{name}}</td>
                    <td>{{shortName}}</td>
                    <td>{{areaName}}</td>
                    <td>{{address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
{{/with}}